<!DOCTYPE html>
<html lang="en-us">
<!--suppress ES6ConvertVarToLetConst -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?24a39f1c0a336230e7a5a9cd77288e05";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<head>
    <meta charset="UTF-8">
    <!--suppress HtmlUnknownTarget -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="docsearch:language" content="en" />
    <title>PowerNukkitX Doc - %title%</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/mdui/1.0.2/css/mdui.min.css"
          crossorigin="anonymous"/>
    <!--  DocSearch CSS  -->
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="%relativePrefix%css/docsearch.css"/>
    <!--  Prism.js代码高亮  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/line-numbers/prism-line-numbers.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-one-light.min.css" rel="stylesheet">
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="%relativePrefix%css/common.css"/>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-indigo mdui-drawer-body-left mdui-appbar-with-toolbar">
<script>
    window.languageLinks = JSON.parse(`%languageFiles%`)
</script>
<!-- DocSearch搜索库 -->
<!--suppress HtmlUnknownTarget -->
<script src="%relativePrefix%js/docsearch.min.js"></script>
<!-- PNX文档JS库 -->
<!--suppress HtmlUnknownTarget -->
<script src="%relativePrefix%js/doc.min.js"></script>
<i class="lang-ele">en</i>
<header class="appbar mdui-appbar mdui-appbar-fixed">
    <div class="mdui-appbar">
        <div class="mdui-toolbar mdui-color-theme">
            <a href="javascript:" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#catalogue-drawer'}">
                <i class="mdui-icon material-icons">menu</i>
            </a>
            <a href="https://www.powernukkitx.cn" class="mdui-typo-headline icon-title">
                <span class="icon-title-main">PN</span>
                <span class="icon-title-sup">X</span>
            </a>
            <span class="mdui-typo-title">%title%</span>
            <div class="mdui-toolbar-spacer"></div>
            <div id="docsearch"></div>
            <a href="javascript:" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#more-menu'}">
                <i class="mdui-icon material-icons">more_vert</i>
            </a>
            <ul class="mdui-menu" id="more-menu">
                <li class="mdui-menu-item">
                    <a href="javascript:switchTheme()" class="mdui-ripple">
                        <i class="mdui-menu-item-icon mdui-icon material-icons">timelapse</i>
                        Theme
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="mdui-typo">
    <div id="catalogue-drawer" class="mdui-drawer category-super-div">
        <div class="category-v-space"></div>
        %catalogue%
    </div>
    <div class="mdui-container line-numbers">
        <nav class="mdui-row mdui-hidden" id="switch-language-tip-box">
            <a class="mdui-center fit switch-language-text" id="switch-language-tip-text"></a>
            <hr/>
        </nav>
        %md%
        <hr/>
        <span class="mdui-typo-subheading-opacity mdui-center copyright">© PowerNukkitX Dev team</span>
        <span class="copyright">&ensp;</span>
    </div>
</div>
<!-- MDUI Material设计库 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdui/1.0.2/js/mdui.min.js" crossorigin="anonymous"></script>
<!-- Prism.js 代码高亮库 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-yaml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-properties.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<!-- PNX-文档JS库 -->
<!--suppress HtmlUnknownTarget -->
<script src="%relativePrefix%js/en-us.min.js"></script>
</body>
</html>