<!DOCTYPE html>
<html lang="">
<!--suppress ES6ConvertVarToLetConst -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?24a39f1c0a336230e7a5a9cd77288e05";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="PowerNukkitX,Nukkit,PowerNukkit,NK,PN,PNX,Minecraft,Bedrock,mcbe,server">
    <meta name="description" content="PowerNukkitX是新一代高性能、富特性、完全独立的开源MCBE服务端软件。本站提供PowerNukkitX的使用文档。">
    <meta name="description" lang="zh-cn" content="PowerNukkitX是新一代高性能、富特性、完全独立的开源MCBE服务端软件。本站提供PowerNukkitX的使用文档。">
    <meta name="description" lang="en-us" content="PowerNukkitX is the new generation of high-performance, rich-vanilla-feature and completely independent open source Minecraft:Bedrock Edition server software. This website provides the documents of PowerNukkitX.">
    <!--suppress HtmlUnknownTarget -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>PowerNukkitX</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/mdui/1.0.2/css/mdui.min.css"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/common.css"/>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-indigo mdui-drawer-body-left mdui-appbar-with-toolbar" style="filter: grayscale(100%)">
<header class="appbar mdui-appbar mdui-appbar-fixed">
    <div class="mdui-appbar">
        <div class="mdui-toolbar mdui-color-theme">
            <a href="javascript:" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#catalogue-drawer'}">
                <i class="mdui-icon material-icons">menu</i>
            </a>
            <a href="https://www.powernukkitx.cn" class="mdui-typo-headline icon-title">
                <span class="icon-title-main">PN</span>
                <span class="icon-title-sup">X</span>
            </a>
            <span class="mdui-typo-title" translate="yes">index.doc-site</span>
            <div class="mdui-toolbar-spacer"></div>
            <a href="javascript:" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#more-menu'}">
                <i class="mdui-icon material-icons">more_vert</i>
            </a>
            <ul class="mdui-menu" id="more-menu">
                <li class="mdui-menu-item">
                    <a href="javascript:switchTheme()" class="mdui-ripple">
                        <i class="mdui-menu-item-icon mdui-icon material-icons">timelapse</i>
                        <span translate="yes">more-menu.switch-theme</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div id="catalogue-drawer" class="mdui-drawer">
    <ul class="mdui-list">
        <li class="mdui-subheader" translate="yes">index.doc</li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">library_books</i>
            <!--suppress HtmlUnknownTarget -->
            <a class="mdui-list-item-content" href="zh-cn/PowerNukkitX.html">中文文档</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">library_books</i>
            <!--suppress HtmlUnknownTarget -->
            <a class="mdui-list-item-content" href="en-us/PowerNukkitX_en-us.html">English Doc</a>
        </li>
    </ul>
</div>
<div class="mdui-typo">
    <div class="mdui-container line-numbers">
        <div style="height: 48px"></div>
        <div class="mdui-row">
            <div class="mdui-text-color-theme mdui-text-center mdui-typo-display-3">PowerNukkitX</div>
        </div>
        <div class="mdui-row">
            <div class="mdui-text-color-theme mdui-text-center mdui-typo-headline" translate="yes">index.doc-site</div>
        </div>
        <div style="height: 16px"></div>
        <div class="mdui-row">
            <button class="mdui-btn mdui-btn-raised mdui-center" mdui-drawer="{target: '#catalogue-drawer'}">
                <i class="mdui-icon material-icons">insert_link</i>
                <span translate="yes">index.open-doc</span>
            </button>
        </div>
    </div>
</div>
<!-- MDUI Material设计库 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdui/1.0.2/js/mdui.min.js" crossorigin="anonymous"></script>
<!-- PNX主页 JS库 -->
<script src="js/index.min.js"></script>
</body>
</html>