.icon-image {
    width: 48px;
    vertical-align: middle;
    margin-top: -4px;
}

.icon-title {
    font-weight: bold;
    margin-top: -12px;
    min-width: 33px;
}

.icon-title .icon-title-main {
    padding-bottom: 4px;
    border-bottom: 4px solid white;
}

.icon-title .icon-title-space {
    width: 1px;
}

.icon-title .icon-title-sup {
    font-size: 16px;
    position: absolute;
    margin-top: -3px;
    margin-left: 1px;
}

p.category-title {
    font-weight: bold;
}

ol.category-sub {
    margin-bottom: 2px;
}

.category-v-space {
    height: 20px;
}

.copyright {
    width: fit-content;
    font-size: 8px;
}

.fit {
    width: fit-content;
}

.switch-language-text {
    margin: 18px 0 8px 0;
}